# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# ==============================
# Virtual environments
# ==============================
venv/
env/
.venv/

# ==============================
# Jupyter / Colab
# ==============================
.ipynb_checkpoints/

# ==============================
# Dataset & Large Files (IMPORTANT)
# ==============================
data/
*.npz
*.csv
*.h5
*.hdf5
*.tflite
*.onnx
*.pt
*.pth

# ==============================
# Trained Models
# ==============================
models/
*.ckpt

# ==============================
# Results / Outputs
# ==============================
results/
*.png
*.jpg

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db